*{
    padding: 0;
    margin: 0;
  }
  .main{
      width: 100%;
      background-color:white;
  }
  
  .header{
    height: 100px;
    width: 100%;
    background-color: rgb(101, 196, 164);
    text-align: center;
    padding-top: 40px;
    margin-bottom: 7px;
    font-family: initial;
    font-size: x-large;
    }
  
  .sidebar{
   height: 300px;
   width: 400px;
   background-color: rgb(12, 128, 99);
   margin-right: 40px;
   display: inline-block;
   padding-top: 30px;
   text-align: center;
   }
  
  .content{
   height: 300px;
   width: 750px;
   background-color:rgb(47, 121, 90);
   float:right;
   padding-top: 30px;
   text-align: center;
   }
   
  .footer{
   height:100px;
   width: 100%;
   background-color: rgb(107, 197, 167);
   margin-top: 7px;
   text-align: center;
   font-size: x-large;
   padding-top: 40px;
  }
    

